@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.appart-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    width: 100%;
  }
  
  .appart-title-tag {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    margin-left: 50px;
  }
  
  .appart-rate-host {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-right: 25px;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  .appart-collapse {
    margin-bottom: 70px;
  }
  
  .appart-collapse ul {
    display: flex;
  }
  
  .appart-collapse li {
    display: flex;
    width: 100%;
  }
  
  .tags {
    display: flex;
    gap: 10px;
  }
  
  .tag-text {
    background: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 5px 40px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.96px;
    text-align: center;

  }
  
  @media screen and (max-width: 769px) {
    .appart-div {
      flex-direction: column;
    }
    .appart-rate-host {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
    }
    .appart-collapse {
      margin-top: -40px;
      margin-left: -40px;
    }
    .appart-collapse ul {
      flex-direction: column;
    }
    .appart-collapse li {
      width: 97%;
    }
    .appart-title-tag {
      margin-left: 20px;
    }
  
    .tag-text {
      padding: 5px 10px;
      font-size: 9px;
    }
  }