@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.about {
    margin-top: 170px;
    margin-left: 80px;
    margin-bottom: 180px;
  }
  
  .collapse {
    display: flex;
    margin-bottom: 37px;
    padding: 15px 3%;
    flex-direction: column;
    align-items: center;
  }
  
  .collapse-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    height: 47px;
    width: 100%;
    cursor: pointer;
  }
  
  .collapse-title {
    color: white;
    margin: 5px 10px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.22px;
    text-align: left;
  }
  
  .collapse-vectorDown {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }

  .collapse-vectorDown.true {
    justify-content: flex-start;
    transform: rotate(180deg);
  }
  #collapse-Description {
    padding: 15px 38px;
    width: 100%;
    margin-right: 30px;
    margin-left: -30px;
  }
  #collapse-Equipements {
    padding: 15px 38px;
    width: 100%;
    margin-right: 40px;
  }
  .collapse-description {
    position: relative;
    background-color: #f7f7f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    width: 96%;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    text-align: left;
    padding: 0 2%;
  }
  
  .collapse-description.true {
    max-height: 150px;
    padding: 25px 2% 20px 2%;
  }
  
  @media screen and (max-width: 769px) {
    .collapse {
      padding: 0px;
    }
    .about {
      margin-left: 4%;
      margin-right: 4%;
    }
    #collapse-Description {
      margin: 0px;
    }
    #collapse-Equipements {
      margin: 0px;
    }
    .collapse-description {
      font-size: 13px;
    }
    .collapse-description.true {
      max-height: 265px;
      font-size: 13px;
  }
  .collapse-title {
    font-size: 13px;
  }
  }