@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0px 0px;
}
.footer {
    height: 209px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-txt {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: center;
    margin-top: 40px;
  }
  
  @media screen and (max-width: 769px) {
    .footer-txt {
      font-weight: 100;
      font-size: 15px;
    }
    .footer {
      height: 300px;
    }
  }