@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.host {
    display: flex;
    align-items: center;
    margin-right: 51px;
    gap: 10px;
    margin-top: -90px;
  }
  
  .host-name {
    color: #ff6060;
    max-width: min-content;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
  }
  
  .host-img {
    max-width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
  }
  
  @media screen and (max-width: 769px) {
    .host {
      margin-top: -20px;
      margin-right: 20px;
    }
  
    .host-name {
      font-weight: 300;
      font-size: 12px;
    }
  }